[Desktop Entry]
Name[ar]=بطانية
Name[ca]=Manta
Name[cs]=Blanket
Name[de]=Blanket
Name[eo]=Blanket
Name[es]=Blanket
Name[eu]=Blanket
Name[fa]=پتو
Name[fi]=Blanket
Name[fr]=Blanket
Name[ga]=Blaincéad
Name[gl]=Blanket
Name[hi]=ब्लैंकेट
Name[hr]=Pokrivač
Name[hu]=Blanket
Name[id]=Blanket
Name[it]=Blanket
Name[ja]=Blanket
Name[ka]=საბანი
Name[ko]=Blanket
Name[ne]=Blanket
Name[nl]=Blanket
Name[pl]=Blanket
Name[pt]=Blanket
Name[pt_BR]=Blanket
Name[oc]=Blanket
Name[sk]=Blanket
Name[sr]=Ћебенце
Name[sv]=Blanket
Name[tr]=Battaniye
Name[uk]=Blanket
Name[ta]=பிளாங்கெட்
Name[zh_CN]=Blanket
Name[en_US]=Blanket
Name[ro]=Pătură
Name[zh_TW]=Blanket
Name[en_GB]=Blanket
Name[ru]=Blanket
Name[sq]=Kuverta
Name[he]=Blanket
Name[el]=Blanket
Name[bg]=Одеяло
Name[nb_NO]=Blanket
Name[da]=Blanket
Name[be]=Blanket
Name[bn]=ব্ল্যাঙ্কেট
Name[lt]=Blanket
Name[ckb]=بلانکێت
Name[et]=Blanket
Name[ia]=Blanket
Name[kab]=Blanket
Name[vi]=Blanket
Name[kw]=Lenn
Name[tok]=len
Name[kk]=Blanket
Name=Blanket
Comment[ar]=استمع لأصوات متنوعة
Comment[ca]=Escolteu diferents sons
Comment[cs]=Poslouchejte různé zvuky
Comment[de]=Höre dir unterschiedliche Klänge an
Comment[eo]=Aŭskulti diversajn sonojn
Comment[es]=Escuche diferentes sonidos
Comment[eu]=Entzun hainbat soinu
Comment[fa]=گوش دادن به صداهای گوناگون
Comment[fi]=Kuuntele eri ääniä
Comment[fr]=Écoutez différents sons d’ambiance
Comment[ga]=Éist le fuaimeanna éagsúla
Comment[gl]=Escoite diferentes sons
Comment[hi]=विभिन्न ध्वनियों को सुनें
Comment[hr]=Slušaj razne zvukove
Comment[hu]=Hallgass különböző hangokat
Comment[id]=Dengarkan suara yang berbeda
Comment[it]=Ascolta suoni diversi
Comment[ja]=環境音で集中
Comment[ka]=მოუსმინეთ სხვადასხვა ხმებს
Comment[ko]=다양한 소리를 들으세요
Comment[ne]=बिभिन्न आवाज सुन्नुहोस्
Comment[nl]=Luister naar verschillende geluiden
Comment[pl]=Słuchaj różnych dźwięków
Comment[pt]=Ouça diferentes sons
Comment[pt_BR]=Escute diferentes sons
Comment[oc]=Escotar diferents sons
Comment[sk]=Počúvajte rôzne zvuky
Comment[sr]=Слушајте различите звукове
Comment[sv]=Lyssna på olika ljud
Comment[tr]=Farklı sesleri dinleyin
Comment[uk]=Слухайте різноманітні звуки
Comment[ta]=வெவ்வேறு ஒலிகளை கேள்
Comment[zh_CN]=聆听各种声音
Comment[en_US]=Listen to different sounds
Comment[ro]=Ascultați sunete diferite
Comment[zh_TW]=聆聽不同的聲音
Comment[en_GB]=Listen to different sounds
Comment[ru]=Слушайте разные звуки
Comment[sq]=Dëgjo tinguj të ndryshëm
Comment[he]=האזנה לצלילים שונים
Comment[el]=Ακούστε διαφορετικούς ήχους
Comment[bg]=Слушайте различни звуци
Comment[nb_NO]=Finn roen med bakgrunnslyder
Comment[da]=Lyt til forskellige lyde
Comment[be]=Слухайце розныя гукі
Comment[bn]=বিভিন্ন ধরনের শব্দ শুনুন
Comment[lt]=Klausytis įvairių garsų
Comment[ckb]=گوێ لە دەنگە جیاوازەکان بگرە
Comment[et]=Kuula erinevaid helisid
Comment[ia]=Ascolta sonos differente
Comment[vi]=Nghe những âm thanh khác
Comment[kw]=Goslowes dhe sonyow divers
Comment[tok]=o kute e kalama ante
Comment[kk]=Әртүрлі дыбыстарды тыңдау
Comment=Listen to different sounds
Exec=blanket
Icon=com.rafaelmardojai.Blanket
Terminal=false
Type=Application
# Translators: These are search terms to find this application. Do NOT translate or localize the semicolons. The list MUST also end with a semicolon.
Keywords[ar]=تركيز;ركز;صوت;إنتاجية;نوم;
Keywords[ca]=Concentració;Focus;Soroll;Productivitat;Dormir;
Keywords[cs]=Koncentrace;Soustředění;Šum;Produktivita;Spánek;
Keywords[de]=Konzentration;Fokus;Geräusch;Produktivität;Schlaf;
Keywords[eo]=Koncentriĝi;Fokusiĝi;Bruo;Sono;Produktemo;Dormo;
Keywords[es]=Concentracion;Ruido;Productividad;Dormir;
Keywords[eu]=Kontzentratu;Arreta;Zarata;Soinua;Produktibitatea;Lo;
Keywords[fa]=Blanket;Concentrate;Focus;Noise;Productivity;Sleep;تمرکز;آرامش;سر و صدا;بهره‌وری;خواب;بلنکت;پتو;
Keywords[fi]=Concentrate;Focus;Noise;Productivity;Sleep;Keskity;Huomion kohdistus;Melu;Uni;Tuottavuus;
Keywords[fr]=Concentration;Focus;Bruit;Productivité;Sommeil;Bruit blanc;
Keywords[ga]=Díriú Airde;Torann;Táirgiúlacht;Codladh;
Keywords[gl]=Concentracion;Ruido;Productividade;Durmir;
Keywords[hi]=एकाग्र;केंद्रित;शोर;उत्पादकता;निद्रा;
Keywords[hr]=Koncentracija;fokusiranje;buka;produktivnost;spavanje;
Keywords[hu]=Concentrate;Focus;Noise;Productivity;Sleep;
Keywords[id]=Konsentrasi;Fokus;Kebisingan;Produktivitas;Tidur;
Keywords[it]=Concentrazione;Focus;Rumore;Produttività;Sonno;
Keywords[ja]=集中;フォーカス;雑音;生産性;睡眠;環境音;
Keywords[ka]=კონცენტრირება;ფოქუსი;ხმა;პროდუქტიოლობა;ძილი;
Keywords[ko]=Concentrate;Focus;Noise;Productivity;Sleep;
Keywords[ne]=एकाग्र गर्नुहोस्;ध्यान दिनुहोस्;हल्ला;उत्पादकता;निद्रा;आनन्द;
Keywords[nl]=Concentratie;Concentreren;Focus;Ruis;Productiviteit;Slaap;
Keywords[pl]=Koncentracja;Skupienie;Szum;Produktywność;Sen;
Keywords[pt]=Concentrar;Foco;Ruído;Produtividade;Dormir;
Keywords[pt_BR]=Concentração;Foco;Ruído;Produtividade;Sono;Concentrate;Focus;Noise;Productivity;Sleep;
Keywords[oc]=Concentracion;focalizar;soscar;bruch;productivitat;dormir;som;somi;
Keywords[sk]=Koncentrácia;Zameranie;Šum;Produktivita;Spánok;
Keywords[sr]=Concentrate;Focus;Noise;Productivity;Sleep;Концентрација;Фокус;Усредсређивање;Бука;Продуктивност;Спавање;Koncentracija;Fokus;Usredsredjivanje;Buka;Produktivnost;Spavanje;
Keywords[sv]=Koncentrera; Fokusera; Brus; Produktivitet. Sov;
Keywords[tr]=Konsantrasyon;Odaklanma;Gürültü;Üretkenlik;Uyku;
Keywords[uk]=Концентрація;Зосередження;Шум;Продуктивність;Сон;Concentrate;Focus;Noise;Productivity;Sleep;
Keywords[ta]=ஆழ்ந்த கவனம்;கவனம்;இரைச்சல்;உற்பத்தித்திறன்;தூக்கம்;
Keywords[zh_CN]=Concentrate;Focus;Noise;Productivity;Sleep;专注;集中注意力;白噪音;效率;助眠;
Keywords[en_US]=Concentrate;Focus;Noise;Productivity;Sleep;
Keywords[ro]=Concentrate;Focus;Noise;Productivity;Sleep;
Keywords[zh_TW]=專注;集中注意力;噪音;工作效率;睡眠;
Keywords[en_GB]=Concentrate;Focus;Noise;Productivity;Sleep;
Keywords[ru]=Концентрация;Фокусирование;Шум;Продуктивность;Сон;
Keywords[sq]=Përqendrim;Fokus;Zhurmë;Produktivitet;Gjumë;
Keywords[he]=ריכוז; מיקוד; רעש; פרודוקטיביות; יעילות; שינה;
Keywords[el]=Συγκεντρωθείτε;Συγκεντρωθείτε;Θόρυβος;Παραγωγικότητα;Ύπνος;
Keywords[bg]=Концентрация;Фокус;Шум;Продуктивност;Сън;Concentrate;Focus;Noise;Productivity;Sleep;
Keywords[nb_NO]=Ambient;Omgivelseslyder;Bakgrunnslyder;Sove;Søvn;White Noise;Bakgrunnsstøy;
Keywords[da]=Koncentrer;Fokuser;Støj;Produktivitet;Søvn;
Keywords[be]=Concentrate;Focus;Noise;Productivity;Sleep;Канцэнтрацыя;Засяроджанасць;Шум;Прадукцыйнасць;Сон;
Keywords[bn]=মনোনিবেশ;একাগ্রতা;শব্দ;কার্যক্ষমতা;ঘুম;
Keywords[lt]=Koncentruotis;Koncentracija;Susitelkti;Susitelkimas;Fokusavimas;Dėmesio sutelkimas;Demesio sutelkimas;Triukšmas;Produktyvumas;Miegas;Miegoti;
Keywords[ckb]=جەختکردن;سەرنج;ژاوەژاو;بەرهەمهێنان;نووستن;
Keywords[et]=Keskendumine;Fookus;Müra;Uni;
Keywords[vi]=Tập trung;Tập trung;Tiếng ồn;Năng suất;Ngủ;
Keywords[kw]=Prederi;Fogella;Noys;Askorruster;Kosk;
Keywords[tok]=lawa;kon;kalama;pali;lape;
Keywords[kk]=Шоғырлану;Назар аудару;Шу;Өнімділік;Ұйқы;
Keywords=Concentrate;Focus;Noise;Productivity;Sleep;
Categories=AudioVideo;Audio;GTK;
StartupNotify=true
# Translators: Do NOT translate or transliterate this text (these are enum types)!
X-Purism-FormFactor=Workstation;Mobile;
