
.preset-row {
    padding: 6px 12px;
    min-height: 40px;
}
.preset-row.selected label {
    font-weight: bold;
}

.sound-bar {
    padding: 24px;
}

.volume-row {
    padding: 0;
}
.volume-row:hover {
    background: none;
}
.volume-row label {
    padding: 12px 0 0 12px;
}
.volume-row scale {
    padding: 6px 12px 12px;
}

button.playpause {
    padding: 9px;
}

.sound-view {
    background: @window_bg_color;
    padding: 0 12px 12px;
}

.sound-view-scrolled undershoot.top {
    border-top: 1px solid @borders;
}

.sound-item image {
    border-radius: 76px;
    padding: 12px;
}

.sound-item image.accent {
    background: alpha(@accent_bg_color, 0.2);
}

.soundrow {
    padding: 8px;
}
